* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(./images/robot-bkg.jpg);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Oxygen", sans-serif;
  padding: 1.5em 2em 2em;
}
h1 {
  font-family: "Teko", sans-serif;
  font-size: 4rem;
  color: #16262e;
  margin-bottom: 1em;
}
.activity-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(245, 244, 245, 0.9);
  padding: 1.5em;
  text-align: center;
  border-radius: 8px;
  box-shadow: 1px 0 10px rgba(22, 38, 46, 0.2);
}
h4 {
  color: #55a1b4;
  font-size: 1.5rem;
  margin: 1em 0 2em;
  text-shadow: #f5f4f5 1px 0 10px;
  /* user-select: none; */
}
span {
  padding: 0 0.125em;
  color: #9bc53d;
}

button {
  position: relative;
  background-color: #265429;
  border-radius: 4px;
  font-size: 1rem;
  color: #9bc53d;
  padding: 0.75em 1em;
  cursor: pointer;
  user-select: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s; /* Safari */
  margin-bottom: 1em;
  border: none;
}

button:hover {
  transition-duration: 0.1s;
  background-color: #55a1b4;
  color: #f5f4f5;
}
button:active {
  transform: translateY(4px);
}
button:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 4px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.3s;
  box-shadow: 0 0 2px 15px #55a1b4;
}

button:active:after {
  box-shadow: 0 0 0 0 #265429;
  position: absolute;
  border-radius: 4px;
  left: 0;
  top: 0;
  opacity: 1;
  transition: 0s;
  background-color: #265429;
}
button:active {
  background-color: #265429;
  color: #9bc53d;
}

@media (min-width: 700px) {
  body {
    padding: 2em;
  }
  h1 {
    margin-bottom: 0.5em;
  }
  h4 {
    margin-bottom: 2em;
  }
  .activity-holder {
    padding: 3em;
  }
  button {
    margin-bottom: 0.25em;
    width: 100%;
  }
}
